@import "styles/variables";

.node { // maybe for REGISTERD ?
  fill: $gray-500;
  fill-opacity: 0.5
}

.node.SUCCESS {
  fill: #7cd992;
  fill-opacity: 0.5
}

.node.RUNNING {
  fill: #f7e463;
  fill-opacity: 0.5
}

.node.ERROR {
  fill: #eb6060;
  fill-opacity: 0.5
}

pre.tooltip {	
  position: absolute;
  padding: 2px;
  font: 12px sans-serif;
  background: $gray-800;	
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}